/*

Color Palette

#30BCED
#303036
#FFFAFF
#FC5130
#050401

https://coolors.co/30bced-303036-fffaff-fc5130-050401

*/

/* Reset CSS */
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-display: swap;
  font-size: 16px;
  line-height: 1.5;
  color: #303036;
  background-color: #fffaff;
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #050401;
}

/* Left Bar Section */
.left-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40px;
  z-index: 999;
  overflow: hidden;
  padding-top: 5%;
  padding-bottom: 5%;
}

.left-bar svg {
  height: 80vh;
  fill: #050401;
  fill-opacity: 0.1;
}

@media (prefers-color-scheme: dark) {
  .left-bar svg {
    fill: #fffaff;
  }
}

/* Header Section */
.header {
  position: relative;
  height: 100vh;
  padding: 0 12%;
  overflow: hidden;
}

.header::before {
  content: "";
  background-image: url("../img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
  animation: zoom-out 3s ease-in-out;
  z-index: -10;
}

@keyframes zoom-out {
  0% {
    transform: scale(2) translateY(150px);
  }
  100% {
    transform: scale(1);
  }
}

.header-content {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.header-image {
  width: 50%;
  height: 100%;
}

.header-image picture {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.header-text {
  width: 30%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}
.header-text h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
.header-text h2 {
  font-size: 1.5rem;
}
.header-text h1,
.header-text h2 {
  width: 100%;
  margin: 10px 0;
  color: #FFFAFF;
  line-height: 1.2;
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 2%;
    height: 120vh;
    padding-top: 5rem;
  }
  .header-content {
    flex-direction: column;
  }
  .header-image {
    width: 100%;
    height: auto;
    order: 2;
  }
  .header-text {
    width: 100%;
    height: auto;
    text-align: center;
    order: 1;
  }
}

/* double Section */
.double-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 16%;
}

.double-image {
  width: 50%;
}

.double-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

.double-image img:hover {
  transform: scale(1.02);
}

.double-text {
  width: 50%;
  margin: 0 3rem;
}

.double-text h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.double-text p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.reverse {
  flex-direction: row-reverse;
}

.more-btn {
  display: inline-block;
  padding: 0.6rem 1.2rem;
  background-color: transparent;
  color: #30bced;
  border: 2px solid #30bced;
  text-decoration: none;
  border-radius: 30px;
}

.more-btn:hover {
  background-color: #30bced;
  color: #fffaff;
}

@media only screen and (max-width: 768px) {
  .double-content {
    flex-direction: column;
    padding: 3rem 8%;
  }
  .double-image {
    width: 100%;
    order: 2;
  }
  .double-text {
    width: 100%;
    margin-bottom: 3rem;
    order: 1;
  }
  .more-btn {
    display: block;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  .section {
    background-color: #050401;
  }
  .double-text h2, .double-text p{
    color: #fffaff;
  }
  .more-btn {
    color: #FC5130;
    border: 2px solid #FC5130;
  }
  .more-btn:hover {
    background-color: #FC5130;
    color: #050401;
  }
}

/* Footer Section */
footer {
  background-image: url("../img/footer-bg.jpg");
  background-color: #30bced;
  background-size: cover;
  background-position: center;
  color: #FC5130;
}

.footer-content {
  display: block;
  padding: 5rem 16% 4rem 16%;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons a {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  white-space: nowrap;
  transition: transform 0.3s;
}
.social-icons a svg {
  display: inline-block;
  margin: 0 1rem;
  font-size: 2rem;
  width: 1.8rem;
  height: 1.8rem;
  fill: #fffaff;
}
.social-icons a:hover {
  transform: scale(1.2);
}

.email {
  margin-top: 1.5rem;
  text-align: center;
}
.email a {
  text-decoration: none;
  font-size: 1.2rem;
  color: #fffaff;
}

.barcode {
  display: flex;
  justify-content: center;
}
.barcode svg {
  display: block;
  width: 60%;
  height: auto;
  fill: #FC5130;
}

@media only screen and (max-width: 768px) {
  .footer-content {
    padding: 3rem 2% 3rem 2%;
  }
  .barcode {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    background-color: #FC5130;
  }
  .social-icons a svg {
    fill: #050401;
  }
  .email a {
    color: #050401;
  }
  .barcode svg {
    fill: #050401;
  }
}