body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

input[type="number"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 80%;
    margin-bottom: 15px;
}

.shortcut-buttons button, #viewButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

.shortcut-buttons button:hover, #viewButton:hover {
    background-color: #0056b3;
}

#viewButton {
    width: 100%;
}