/* Genel tablo stilini ayarla */
table {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  border-collapse: collapse;
  white-space: nowrap;
  position: relative;
  background-color: #f9f9f9;
}

/* Sabit header */
thead th {
  position: sticky;
  top: 0;
  background-color: #333;
  color: white;
  z-index: 1;
}

/* Hücre içeriğini ortala */
td,
th {
  text-align: center;
  vertical-align: middle;
  border: 1px solid #ccc;
  padding: 12px;
}

/* İlk sütun için özel font */
td:first-child,
th:first-child {
  font-family: "CustomArabic", sans-serif;
}

/* En sağdaki sütun içerikleri sağa yaslı */
td:last-child {
  text-align: right;
}

/* Mobil uyumluluk */
@media (max-width: 768px) {
  td,
  th {
    font-size: 12px;
    padding: 8px;
  }
}

/* Özel Arapça fontu */
@font-face {
  font-family: "CustomArabic";
  src: url("../../fonts/arabic.ttf") format("truetype");
}

/* Tablo başlığı ve geri butonu için stil */
#table-header {
  background-color: #eee;
}

#header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#back-button,
#hafiz-button {
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

#header-title {
  margin: auto;
  font-size: 30px;
  font-weight: bold;
}

/* Geri butonu için hover efekti */
#back-button:hover {
  background-color: #555;
}

/* Yazdırılırkenki Tasarım */
@media print {
  body{
    margin: 0;
    padding: 0;
  }
  table, tr, td {
    margin: 2px;
    padding: 2px;
  }

  /* Sayfa kenar boşluklarını kaldır */
  @page {
    margin: 0;
  }

  /* Tablo çizgileri */
  table {
    border-collapse: collapse;
    border: 1px solid black;
  }

  th,
  td {
    border: 1px solid black;
  }

  /* Punto boyutlarını ayarla */
  td {
    font-size: 10px;
  }

  /* Arapça bölümü için punto boyutu */
  td:nth-child(2) {
    font-size: 16px;
    width: auto !important; /* Hücre genişliğini sabitle */
  }

  /* İlk sütun için punto boyutu */
  td:nth-child(1) {
    font-size: 8px;
    width: 10px !important;
  }

  /* Türkçe anlamların gizlenmesi */
  td:nth-child(3) {
    color: transparent;
  }

  /* Diğer gizlenecek ya da değiştirilecek elementler */
  .hide-on-print {
    display: none !important;
  }
}
