body {
  padding: 20px;
}

/* Genel Tablo Stili */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 80px !important;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: middle !important;
}

th {
  background-color: #f2f2f2;
}

/* Arapça Font Stili */
@font-face {
  font-family: "arabic";
  src: url("../../fonts/arabic.ttf") format("truetype");
}

/* Arapça sütunu için font ve boyut ayarlamaları */
td:nth-child(2) {
  font-family: arabic;
  font-size: 2em;
  padding: 0;
  cursor: pointer;
}

/* KN ve Arapça sütunu için metnin sığacağı genişlik ve metin tabanlı genişlik ayarları */
td:nth-child(1),
td:nth-child(2) {
  white-space: nowrap;
  width: 1%;
}

/* Türkçe sütununda metni sağa yaslamak */
td:nth-child(3) {
  text-align: left;
}

/* Sabit başlık için stil */
/* .sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white; /* Başlık, diğer satırların arkasında kaybolduğunda görünür olmalıdır
} */

/* Sayfayı yazdırırken metinler transparan olsun */
@media print {
  body {
    padding: 0;
  }
  th,
  td {
    border: 0px;
    padding: 0px;
    line-height: 1.4em;
  }
  td:nth-child(1) {
    font-size: 0.5em;
  }
  td:nth-child(2) {
    font-size: 1.4em;
  }
  td:nth-child(3) {
    opacity: 0;
    font-size: 0;
  }
}

/* Bottom Navigation Bar için stil */
.fixed-bottom {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Üst kısıma gölge eklemek için */
}

/* Filtrele butonu için stil */
.fixed-bottom .btn-primary {
  margin-right: auto;
}
